@import '../../styles/colors.scss';
@import '../../styles/spacing.scss';
@import '../../styles/typography.scss';
@import '../../styles/opacity.scss';
@import '../../styles/variables.scss';
@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.stepper {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

$baseClass: 'vant-stepper';
.step-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  img {
    width: 12px;
    height: auto;
  }
  input {
    margin: 0px 2px;
    border-radius: 5px;
    font-size: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.137);
  }
  button {
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    background-color: rgba(128, 128, 128, 0.137);
    border: none;
    font-weight: 100;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0;
    position: relative;
  }
  button:first-child {
    ::before {
      content: '';
      position: absolute;
      border-top: 1px solid black;

      width: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  button:last-child {
    ::before {
      content: '';
      position: absolute;
      border-top: 1px solid black;
      width: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    ::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 10px;
      border-left: 1px solid black;
    }
  }
}

button.#{$baseClass} {
  width: 28px;
  height: 28px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__disabled {
    cursor: not-allowed;
    opacity: $button-disabled-opacity;
  }
  &__theme {
    border-radius: 50%;
    outline: none;
    width: 22px;
    height: 22px;
    background-color: red;
    border-color: white;
    .minus::before {
      content: '';
      position: absolute;
      border-top: 1px solid white;

      width: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .add::before {
      content: '';
      position: absolute;
      border-top: 1px solid white;
      width: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .add::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 10px;
      border-left: 1px solid white;
    }
  }
}
input.#{$baseClass} {
  width: 32px;
  height: 28px;

  &__disableInput {
    cursor: not-allowed;
    opacity: $button-disabled-opacity;
  }
  &__theme {
    border-radius: 50%;
    width: 32px;
    height: 22px;
    background-color: white;
  }
}
.load-background {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  animation: donut-spin 1.2s linear infinite;
  position: relative;
  opacity: 0;
}
.load {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 30%;
  background-color: rgba(0, 0, 0, 0.836);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 0;
}
.load {
  position: absolute;
  bottom: 150px;
}
