@import '../../styles/colors.scss';

$baseRowClass: 'vant-layout__row';
$baseColumnClass: 'vant-layout__col';

.#{$baseRowClass} {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
