@import '../../styles/colors.scss';

$baseRowClass: 'vant-layout__row';

.#{$baseRowClass} {
  width: 100%;
  margin-bottom: 10px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);

  }

  &__flex {
    display: flex;
  }
}
