@import './variable.scss';
@import './base.scss';
@import './highlight.scss';

.van-doc-container {
  overflow: hidden;
  box-sizing: border-box;
  padding-left: $van-doc-nav-width;

  &--with-simulator {
    padding-right: calc($van-doc-simulator-width + $van-doc-padding);

    @media (max-width: 1300px) {
      padding-right: calc($van-doc-simulator-small-width + $van-doc-padding);
    }
  }
}