@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

$baseClass: 'vant-popup';
$baseContainerClass: 'vant-popup__container';

.#{$baseContainerClass} {
  visibility: hidden;
  position: absolute;
  background-color: transparent;
  transition: visibility 2s;
  &__isActive {
    visibility: visible;
    background-color: rgba(
      $color: $popup-background-color,
      $alpha: $popup-alpha
    );
    height: 100vh;
    width: 100vw;
  }

  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
  }

  .#{$baseClass} {
    transform: translateX(-280px);

    transition: translate 0.6s ease-in-out;
    &__closeable {
      span {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    &__isActive {
      background-color: $default;
      position: relative;
      display: flex !important;
      justify-content: center;
      align-items: center;
      padding: 50px;
      transition: 1s;
      width: 100%;
      transform: translateX(0px);

      transition: all 0.6s ease-in-out;
    }

    &__center {
      // display: none;
      max-height: 50vh;
      max-width: 50vw;
    }

    &__left {
      height: 100vh;
      max-width: 50vw;
      left: 0;
      // display: none;
    }

    // &__left,
    // &__isActive {
    //   transition: transform 0.6s ease-out;
    // }

    div:first-of-type {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
