$default: #fff;
$primary: #07c160;
$info: #1989fa;
$danger: #ee0a24;
$warning: #ff976a;

$black: #000;
$grey: #969799;

$dark-text: #323233;
$light-text: #fff;
$grey-text: #ebedf0;
$grey-background: #f7f8fa;

$placeholder: #c8c9cc;
$word-limit: #656566;
