$default: #fff;
$primary: #07c160;
$info: #1989fa;
$danger: #ee0a24;
$warning: #ff976a;

$black: #000;
$grey: #969799;
$white: #fff;
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #646566;
$gray-8: #323233;
$red: #ee0a24;
$blue: #1989fa;
$orange: #ff976a;
$orange-dark: #ed6a0c;
$orange-light: #fffbe8;
$green: #07c160;


$dark-text: #323233;
$light-text: #fff;
$grey-text: #ebedf0;
$grey-background: #f7f8fa;

$placeholder: #c8c9cc;
$word-limit: #656566;
