@import './spacing.scss';

// loaders
$loader-size: 20px;
$loader-animation-duration: 2s;
$loader-circular-duration: 1.4s;

// buttons
$button-height: 44px;

// navbar
$navbar-height: 56px;

// icons
$icon-container-size: 32px;
$icon-dot-size: 8px;

// popups
$popup-alpha: 0.5;
$popup-background-color: #000;

// Empty
$padding-base: 4px;
$padding-md: $padding-base * 4;
$padding-xl: $padding-base * 8;
$gray-6: #969799;
$font-size-md: 14px;
$line-height-md: 20px;

$empty-padding: $padding-xl 0;
$empty-image-size: 160px;
$empty-description-margin-top: $padding-md;
$empty-description-padding: 0 60px;
$empty-description-color: $gray-6;
$empty-description-font-size: $font-size-md;
$empty-description-line-height: $line-height-md;
$empty-bottom-margin-top: 24px;
