// loaders
$loader-size: 20px;
$loader-animation-duration: 2s;
$loader-circular-duration: 1.4s;

// buttons
$button-height: 44px;

// navbar
$navbar-height: 56px;

// icons
$icon-container-size: 32px;
$icon-dot-size: 8px;
