@import '../../styles/colors.scss';

$baseClass: 'vant-layout';
$baseContainerClass: 'vant-layout__row';
$baseColumnClass: 'vant-layout__col';

.#{$baseContainerClass} {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.#{$baseColumnClass} {
  background-color: $blue;
  color: $default;
}
