@import '../../styles/colors.scss';
@import '../../styles/spacing.scss';
@import '../../styles/variables.scss';
@import '../../styles/typography.scss';

$baseClass: 'vant-field';

.#{$baseClass} {
  @include field-label;
  width: 100%;
  background-color: $default;
  padding: 10px $space-lg;
  display: flex;
  overflow: hidden;
  position: relative;

  &:not(:last-child)::after {
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: $space-lg;
    border-bottom: 1px solid $grey-text;
    transform: scaleY(0.5);
  }

  .#{$baseClass}__label {
    display: flex;
    align-items: center;
    width: 90px;

    .vant-icon__container {
      margin-right: 5px;
    }
  }

  .#{$baseClass}__input {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: visible;
    color: $grey;
    word-wrap: break-word;
    vertical-align: middle;
    position: relative;

    .vant-icon__container {
      padding: 0 5px;
    }
  }

  input {
    @include field-label;
    width: inherit;
    outline: none;
    display: block;
    text-align: left;
    line-height: inherit;
    border: 0;
    resize: none;

    &::placeholder {
      color: $placeholder;
    }
  }

  &__disabled {
    input {
      color: $grey;
    }
  }
}
