@import '../../styles/colors.scss';
@import '../../styles/spacing.scss';
@import '../../styles/typography.scss';
@import '../../styles/opacity.scss';
@import '../../styles/variables.scss';

$baseClass: 'vant-swipe';
$baseWrapperClass: 'vant-swipe-wrapper';
$baseImageClass: 'vant-swipe-image';
$baseIndicatorClass: 'vant-swipe-indicator';
$baseDotClass: 'vant-swipe-dot';


.#{baseClass}{
    @include normal;
    display: flex;
    justify-content: center;
  align-items: center;
  position: relative;
  max-width: 375px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  scroll-behavior: smooth;
}

.#{$baseWrapperClass}{
      width: 100%;
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      overflow: auto;
}

.#{$baseImageClass}{
  display: flex;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.#{$baseImageClass}>img{
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background:transparent;
  transform-origin: center center;
  position: relative;
}

.#{$baseIndicatorClass}{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}
.#{$baseDotClass}{
    cursor: pointer;
      height: 12px;
      width: 12px;
      margin: 0 2px;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      background-color:black;
      z-index: 1;
}
