#all {
  width: 500px;
  height: 86px;
  margin: 100px auto;
  position: relative;
}

#bar {
  width: 500px;
  height: 20px;
  border-radius: 10px;
  background: #9acfea;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}

#box {
  width: 30px;
  height: 30px;
  background: #ec971f;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto 0;
  border-radius: 50%;
  cursor: pointer;
  transition: left 0.1s linear 0s;
}
